:host {
    display: flex;
    justify-content: center;
    margin: 64px 0;
}

mat-card {
    width: 90%;
}

mat-card-title {
    color: white;
}

mat-list {
    border: rgb(128, 128, 128) 2px solid;
}

form {
    width: 100%;
}

mat-form-field {
    width: 100%;
}

mat-form-field mat-hint {
    color: whitesmoke;
}

mat-list {
    width: 100%;
    overflow-y: scroll;
    height: 512px;
}

@media (max-height: 864px) {
    mat-list {
        height: 384px;
    }
}

@media (max-height: 736px) {
    mat-list {
        height: 320px;
    }
}

@media (max-height: 672px) {
    mat-list {
        height: 256px;
    }
}

