.center.wrapper {
    position: relative;
}

.center .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper {
    height: calc(100vh - 20px);
}

.inner {
    padding: 12px;
}

.example-spacer {
  flex: 1 1 auto;
}
