<mat-card>
    <mat-card-header>
        <mat-card-title>Registro</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form">
            <mat-form-field>
                <input type="email" matInput placeholder="E-mail" formControlName="email">
            </mat-form-field>
            <div *ngIf="form.get('email')?.errors && form.get('email')?.touched" class="alert alert-danger small">
                <div *ngIf="form.get('email')?.errors?.['required']">Informe o e-mail</div>
                <div *ngIf="form.get('email')?.errors?.['email']">Informe um e-mail valido</div>
            </div>

            <mat-form-field>
                <input type="text" matInput placeholder="Nome" formControlName="firstName">
            </mat-form-field>
            <div *ngIf="form.get('firstName')?.errors && form.get('firstName')?.touched" class="alert alert-danger small">
                <div *ngIf="form.get('firstName')?.errors?.['required']">Informe seu nome</div>
            </div>

            <mat-form-field>
                <input type="text" matInput placeholder="Sobrenome" formControlName="lastName">
            </mat-form-field>
            <div *ngIf="form.get('lastName')?.errors && form.get('lastName')?.touched" class="alert alert-danger small">
                <div *ngIf="form.get('lastName')?.errors?.['required']">Informe seu sobrenome</div>
            </div>

            <mat-form-field>
                <input type="password" matInput placeholder="Senha" formControlName="password">
            </mat-form-field>
            <div *ngIf="form.get('password')?.errors && form.get('email')?.touched" class="alert alert-danger small">
                <div *ngIf="form.get('password')?.errors?.['required']">Informe a senha</div>
            </div>

            <div class="button-div">
                <button color="accent" (click)="submit()" mat-raised-button>Registro</button>
            </div>
            <br>
            <div class="link-div">
                <button (click)="login()" mat-button>Logar</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
